html {
  font-size:80%;
}

#header {
  /* margin-right: 0; */
  margin-left: 4rem;
  height: auto;
  width: auto;
  transition: 0.5s;
}
#header p {
  font-size: 2rem;
}

/* Mapbox Canvas */
#map {
  height: 100vh;
  /* padding-top: 5rem; */
  bottom: 0;
}

/* Sidebar column */
.sideMenu {
  height: 100%;
  width: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #111; */
  transition: 0.5s;
  z-index: 1;
  white-space: nowrap;
  overflow-x: hidden;
  color: #dddddd;
}


.sideMenu a {
  text-decoration: none;
  display: block;
}

.sideMenu #sidebarButtons {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#sidebarButtons i {
  font-size: 3rem;
}

#sidebarNames {
  width: 9rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#sidebarNames a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

/* Sidebar Button Content */
.invisible {
  display: none;
}

#layerIcons {
  width: 9rem;
}
#sideFilter {
  width: 18rem;
}

#sideSearch {
  width: 21rem;
}
#sideSearch ul {
  padding-left: 0;

}
#sideSearch li {
  word-wrap: break-word;
  white-space: normal;
  /* border: solid 1px red; */
  border-radius: 10px;
  background: rgb(65, 65, 65);
  margin: 5px;
  padding: 3px;
  list-style-type: none;


}

#layerIcons img {
  margin: 1rem 0rem 1rem 2rem;
  max-width: 4rem;
  height: auto;
  border-radius: 100%;
  border: solid oldlace;
  border-width: thin;
  transition: none;
}



map .sidebar{
  position: absolute;
  top: 0;
  margin-left: 1rem;
}
/* Modal */
#serviceImage {
  max-width: 100%;
}
#serviceDetails{
  float: right;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: wheat;
  opacity: 70%;
  border-radius: 10px;
  font-size: medium;
}
#serviceDetails p {
  opacity: 100%;
  margin: 0;
  padding: 0px 5px 0px 5px;
  color: black;
}
#serviceDescription {
  padding: 0.2rem;
  padding-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
}


/* document.querySelector("html").style.fontSize */
