html {
  font-size:0.8vw;
}
html, body {
  height: 100%;
  width: 100%;
}
#loadingScreen{
  height: 100%;
  opacity: 70%;
}

#loadingScreen .offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  align-content: center;
  font-weight: bold;
  color: black;
  flex-direction: column;
}


#header {
  /* margin-right: 0; */
  /* margin-left: 4rem; */
  height: 5vh;
  width: auto;
  transition: 0.5s;
}

#header header {
  height: inherit;
}
#header p {
  font-size: 2rem;
  height: inherit;
  text-align: center;
}

.bg-light2 {
  background-color: #d8d8d8;
}

.logo img {
  padding: 0.3em;
  width: 3.5rem;
}
/* Mapbox Canvas */
.map_box_container{
  margin-left: 4rem;
  height: 95vh;
}

#map{
  height: 100%;
  /* padding-top: 5rem; */
  bottom: 0;
  top: 0;
}

/* Sidebar column */
.sideMenu {
  height: 100%;
  width: 4rem;
  position: fixed;
  /* top: 0; */
  left: 0;
  /* background-color: #111; */
  transition: 0.5s;
  z-index: 1;
  white-space: nowrap;
  overflow-x: hidden;
  color: #dddddd;
}


.sideMenu a {
  text-decoration: none;
  display: block;
}

.sideMenu #sidebarButtons {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


#sidebarButtons i {
  font-size: 3rem;
}

#sidebarNames {
  width: 9rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#sidebarNames a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

/* Sidebar Button Content */
.invisible {
  display: none;
}

#layerIcons {
  width: 9rem;
}
#sideFilter {
  width: 24rem;
}

#sideSearch {
  width: 21rem;
}
#sideSearch input {
  z-index: 2;
}
#sideSearch ul, #accordionProvinces ul {
  padding-left: 0;

}
#sideSearch li, #accordionProvinces li {
  word-wrap: break-word;
  white-space: normal;
  /* border: solid 1px red; */
  border-radius: 10px;
  background: rgb(197, 197, 197);
  margin: 5px;
  padding: 3px;
  list-style-type: none;
  font-size: 1.5em;

}

#layerIcons img {
  margin: 1rem auto 0rem auto;
  max-width: 4rem;
  height: auto;
  border-radius: 100%;
  border: solid oldlace;
  border-width: thin;
  transition: none;
  display: block;
}
#layerIcons p {
  text-align: center;
  margin-bottom: 2em;
  margin-right: 0.3em;
}


map .sidebar{
  position: absolute;
  top: 0;
  margin-left: 1rem;
}
/* Modal */
#serviceImage {
  max-width: 100%;
}
#serviceDetails{
  float: right;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: wheat;
  opacity: 70%;
  border-radius: 10px;
  font-size: medium;
}
#serviceDetails p {
  opacity: 100%;
  margin: 0;
  padding: 0px 5px 0px 5px;
  color: black;
}
#serviceDescription {
  padding: 0.2rem;
  padding-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
